.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.number {
  font-size: 16px;
  color: #32a3b1;
}

.name {
  font-size: 16px;
  color: #32a3b1;
}

.btn {
  font-size: 16px;
  cursor: pointer;
  color: #32a3b1;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #ebf5fc;
  margin-left: 10px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 1),
    2px 2px 6px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}
