.AlertBtn {
  position: absolute;
  top: 0;
  width: 300px;
  height: max-content;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  background-color: #e08181;
  border-radius: 6px;
  border: none;
  padding: 20px;
}

.Alert-enter {
  opacity: 0;
  transform: translateY(0);
}

.Alert-enter-active {
  opacity: 1;
  transform: translateY(50%);
  transition: all 250ms ease-in;
}

.Alert-exit {
  opacity: 1;
  transform: translateY(50%);
}

.Alert-exit-active {
  opacity: 0;
  transform: translateY(0);
  transition: all 250ms ease-in;
}
